@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #2299334d;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}
.logo a {
  font-size: 28px;
  font-weight: bold;
  color: #3d5a80;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.creationForm {
  padding-bottom: 20px;
}

.checkboxField {
  display: flex;
  gap: 10px;
  min-height: 30px;
  align-items: center;
}

.checkboxField input {
  width: fit-content;
  margin: 0;
}

.checkboxField label {
  margin: 0;
  line-height: 1;
  font-size: 13px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #3d5a80;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectableOptions {
  margin-top: 20px;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #ffffff;
  color: #3d5a80;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.ticket-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.ticket-number {
  margin-bottom: 30px;
}

.ticket-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.ticket-number p {
  font-size: 1.3rem;
}

.ticket-info {
  font-size: 1.3rem;
}

.ticket,
.ticket-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.ticket-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.ticket-page {
  position: relative;
  text-align: left;
}

.ticket-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-page .btn {
  margin-bottom: 30px;
}

.ticket-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.ticket-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #fff transparent #3d5a80 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

p.journalOfPublication {
  font-style: italic;
  font-weight: 100;
}

p.journalOfPublication {
}

p.paperExcerpt,
p.patentExcerpt,
p.projectExcerpt,
.journalOfPublication,
.author {
  text-align: left;
  width: 100%;
}

.fundingAmount {
  font-weight: bold;
  color: #d40000;
  margin-left: 5px;
  font-size: 22px;
}

.projectFunding {
  display: flex;
  align-items: center;
}
.relevant-tags {
  display: flex;
  gap: 15px;
  padding-top: 15px;
  width: 100%;
  flex-wrap: wrap;
}

p.paperExcerpt,
p.projectExcerpt,
p.patentExcerpt {
  line-height: 1.2;
  margin-bottom: 5px;
}

.relevant-tag {
  background: #3d5a80;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 100;
}

p.author {
  font-weight: 500;
}

h3.paperTitle,
h3.patentTitle,
h3.projectTitle {
  font-weight: bold;
  width: 100%;
  text-align: left;
  margin: 0;
}

a.containerItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  background: #f4f4f4;
  padding: 20px 25px;
  border-radius: 5px;
  text-align: center;
  box-shadow: -4px 5px 20px rgb(0 0 0 / 10%);
  transition: 0.5s ease;
}

.deletePost:hover svg,
.editPost:hover svg {
  transform: scale(1.2);
}

.deletePost svg,
.editPost svg {
  transition: 0.5s ease;
}

.deletePost,
.editPost {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  text-decoration: underline;
}
.deletePost {
  color: #d90000;
  margin-right: 10px;
}

.teacherDepartment {
  bottom: 10px;
  right: 15px;
  position: absolute;
  width: fit-content;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
}

.totalViews {
  font-weight: bold;
  color: #ee6c4d;
  right: 10px;
  top: 5px;
  position: absolute;
}

a.containerItem:before {
  content: '';
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 0;
  background: url(https://en.tnue.edu.vn/Data/Images/Banner/4801676DE0624FD289761F7F0ABB2008.png)
    center center no-repeat;
  background-size: 150px;
  z-index: 0;
  opacity: 0.3;
  position: absolute;
}

.boxContainer:before {
  content: '';
  width: 300px;
  height: 300px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background: url(https://en.tnue.edu.vn/Data/Images/Banner/4801676DE0624FD289761F7F0ABB2008.png)
    center center no-repeat;
  background-size: 300px;
  z-index: 0;
  opacity: 0.08;
  position: absolute;
}

a.containerItem:hover {
  box-shadow: -4px 5px 20px rgb(0 0 0 / 22%);
}

.itemsContainer {
  padding: 10px 0 35px 0;
}

.boxContainer {
  border: 1px solid #000;
  padding: 25px;
  font-family: Times New Roman, sans-serif;
  text-align: left;
  text-align: left;
  border-radius: 25px;
  color: #333;
  margin: 40px 0;
  position: relative;
  background: #f7f7f7db;
  border: navajowhite;
  padding: 45px 45px;
  box-shadow: -4px 5px 20px rgb(0 0 0 / 10%);
  /* margin-bottom: 90px; */
}

.boxContainer h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 5px;
}

.aboutArticle {
  display: flex;
  gap: 25px;
  /* font-family: sans-serif; */
  font-weight: 100;
  color: #515151;
  font-size: 15px;
  margin: 5px 0;
}

.boxContainer p.journalOfPublication {
  margin: 5px 0;
}

span.author.bold {
  font-weight: bold;
}

p.authors {
  margin: 10px 0;
}

.dateWritten {
  font-weight: 100;
  color: #515151;
  font-size: 15px;
  margin: 5px 0;
}

.aboutPublication {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.abstract {
  padding: 30px 0;
}

.relevant-tags span {
  display: block;
  width: 100%;
  font-weight: bold;
  /* font-family: sans-serif; */
}

.relevant-tags {
  font-family: sans-serif;
}

.contactInformation {
  padding-top: 30px;
}

p.dept {
  font-weight: bold;
}

.linkOutside {
  display: flex;
  gap: 15px;
  font-weight: 100;
  font-family: sans-serif;
  background: #3d5a80;
  color: #ffffff;
  border: none;
}
.contact-details {
  padding-left: 15px;
  border-left: 5px solid #dedede;
  font-family: sans-serif;
}

.mainArticle {
  padding-bottom: 20px;
}
.homePageHeading {
  color: #3d5a80;
}
.heading p.homePageSubHeading {
  color: #fff;
}

.searchBarComponent {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}

.searchOptions {
  display: flex;
  height: 40px;
  gap: 0px;
  position: relative;
  z-index: 10;
}

.searchOptions .searchBar {
  position: relative;
}

.searchOptions .searchBar input {
  border: none;
  border-radius: 5px;
  width: 500px;
  padding: 5px 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
}

.searchOptions .searchBar input:focus {
  border: none;
  outline: none;
}

.searchOptions .searchBar input#searchText.hasValue + label {
  transform: scale(0.6) translate(-20px, -20px);
}

.searchOptions .searchBar label {
  transition: 0.5s ease;
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 7px;
  color: #9a9a9a;
}

.searchOptions .searchThrough.searchThroughSpecific select {
  border-radius: 0;
}

.searchOptions .searchThrough select,
.searchOptions .specificField select {
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  border-left: 1px solid #e0e0e0;
  padding: 10px;
  outline: none;
  cursor: pointer;
  width: 120px;
}

.searchBarComponent .searchResults {
  position: absolute;
  background: #ffffffde;
  top: 50px;
  width: 100%;
  max-width: 80vw;
  padding: 0;
  z-index: 1;
  max-height: 500px;
  overflow-y: scroll;
}

.searchBarComponent .searchResults a.searchResultItem {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  padding: 20px;
  transition: 0.5s ease;
  background: transparent;
}

.searchResultItem h3.paperTitle {
  font-size: 15px;
  padding-right: 70px;
  font-weight: normal;
}
.searchResultItem .paperTitle .paperType {
  font-weight: bold;
}

.searchResultItem h3.paperTitle .author {
  font-size: 10px;
}

.searchResultItem .author {
  font-size: 12px;
  font-style: italic;
}

.searchResultItem .relevant-tags {
  padding-top: 5px;
}

.searchResultItem .totalViews {
  top: 20px;
  right: 20px;
  font-size: 12px;
}

.searchBarComponent .searchResults a.searchResultItem:first-child .totalViews {
  top: 30px;
}

.searchBarComponent .searchResults a.searchResultItem:hover {
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 8%);
}

.searchBarComponent .searchResults a.searchResultItem:first-child {
  padding-top: 30px;
}
.searchBarComponent .searchResults a.searchResultItem:last-child {
  border-bottom: none;
}

.searchBarComponent .searchResults a.searchResultItem:last-child {
  border-bottom: none;
}

.searchResults.noResults {
  padding: 30px 0;
}

.searchResults.noResults img {
  width: 150px;
}

.searchResults.loadingResults {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchResults.loadingResults .loadingSpinner {
  border-color: #000 transparent #3d5a80 transparent;
}

@media (min-width: 600px) {
  .creationForm .form-group.hasSubgroups {
    display: flex;
    gap: 20px;
  }
  .creationForm .form-subgroup {
    width: 50%;
  }

  .mainNavBtns {
    display: flex;
    gap: 25px;
  }

  .mainNavBtns .mainNavBtn {
    flex-direction: column;
    box-shadow: -4px 5px 20px rgb(0 0 0 / 10%);
    padding: 55px 25px;
    border: none;
  }

  .mainNavBtns .mainNavBtn svg {
    width: 45px;
    height: auto;
    margin-bottom: 25px;
    margin-right: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .ticket-created h2,
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
